/* App-wide styling */
body {
    background-color: #171c2c;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    overflow: auto;
    height: 100%;
}

#header {
    max-width: 1200px;
}

.banner {
    display: flex;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
}

.title {
    font-size: 24px;
    margin: 0;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    border: 1px solid #7c7b7b;
    border-radius: 10px;
    background-color: #17263e;
    overflow: hidden;
    cursor: all-scroll;
}

.floating-menu {
    position: absolute;
    top: 0.5rem;     /* ou 0 pour coller au bord */
    right: 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    z-index: 1000; /* pour passer au-dessus du reste */
    min-width: 10px;
    button {
        margin: 0.2rem;
        border-radius: 0.8rem;
    }
}

.mindmap {
    position: relative;
    overflow: hidden;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mindmap-background {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
}

.node-renderer {
    overflow: visible;
    position: relative;
    width: 100%;
    height: 100%;
}

.node {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: translate(-50%, -50%);
    text-wrap: balance;
    word-break: break-all;
}

.node:hover {
    transform: scale(1.05) translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(250, 253, 255, 0.5);
}

.link-renderer {
    position: absolute;
    width: inherit;
    height: inherit;
}

.link {
    position: absolute;
    pointer-events: none;
    z-index: 0;
}


